.dashboard{
    width: 100vw;
    min-height: 100vh;
    // background-image: url('/src/blob-scene-haikei.svg');
    background-position: left ; 
  background-repeat: no-repeat; 
  background-size: cover; 
  color: rgb(0, 0, 0);
}