.btn {
	background-color: $background ;
	color: $light-grey;
	padding: 15px auto;
	opacity: 0.9;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
&_google{
	color: $mid-grey;
	border: 1px solid $mid-grey;
	background-color: $light-grey;
	border-radius: 50px;
	 padding: 12px 15px;
    font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
&__icon{
	color: $background ;
	 margin:10px auto ;
	 display: inline-block ;
	svg{
		font-size: 1.5rem;
	}
	&:hover{
	color: $mid-grey;

	}
}
}
button {
	cursor: pointer;
	border: none;
	background: 0;
	&:hover {
		opacity: 1;
		transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	}
}
